Repository borrowd/borrowd, pull requests merged in 2025-05, with the labels that each got.

#20 Core Item visibility permissions
  borrowd/config/base.py
  borrowd_groups/apps.py
  borrowd_groups/migrations/0003_membership_joined_at_membership_status_and_more.py
  borrowd_groups/migrations/0004_borrowdgroupobjectpermission.py
  borrowd_groups/mixins.py
  borrowd_groups/models.py
  borrowd_groups/signals.py
  borrowd_groups/tests/__init__.py
  borrowd_groups/tests/test_add_users_to_groups.py
  borrowd_groups/tests/test_remove_users_from_groups.py
  borrowd_items/apps.py
  borrowd_items/migrations/0002_item_trust_level_required.py
  borrowd_items/migrations/0003_alter_item_options.py
  borrowd_items/models.py
  borrowd_items/signals.py
  borrowd_users/models.py
  mypy.ini
  pyproject.toml
  requirements.txt
  tests/__init__.py
  tests/test_group_based_item_permissions.py
  uv.lock
Labels: Items, Groups

#26 Foundations for Items CRUD UI: detail, create/edit, delete, list
  borrowd_groups/views.py
  borrowd_items/views.py
  templates/items/item_confirm_delete.html
  templates/items/item_detail.html
  templates/items/item_form.html
  templates/items/item_list.html
  templates/items/layout.html
  templates/users/profile.html
Labels: UI, Items

#23 Bugfix: Group template lookup
  borrowd/util.py
  templates/groups/group_confirm_delete.html
  templates/groups/group_detail.html
  templates/groups/group_form.html
  templates/groups/group_list.html
  templates/landing/index.html
Labels: bug, UI

#32 Group creators automatically become moderator members (backend portion).
  borrowd/exceptions.py
  borrowd_groups/exceptions.py
  borrowd_groups/forms.py
  borrowd_groups/migrations/0005_alter_membership_unique_together.py
  borrowd_groups/migrations/0006_alter_borrowdgroup_managers_and_more.py
  borrowd_groups/models.py
  borrowd_groups/signals.py
  borrowd_groups/tests/test_add_users_to_groups.py
  borrowd_groups/tests/test_group_creation.py
  borrowd_groups/tests/test_remove_users_from_groups.py
  borrowd_groups/views.py
  tests/test_group_based_item_permissions.py
Labels: Groups

#37 The most rudimentary nav for Items and Groups.
  templates/includes/header.html
Labels: UI

#39 Item search: introduce basic use of django-filter.
  borrowd/config/base.py
  borrowd_items/filters.py
  borrowd_items/views.py
  mypy.ini
  pyproject.toml
  requirements.txt
  templates/items/item_list.html
  uv.lock
Labels: UI, Items

#42 Item search: add "security" / permission-based filtering.
  borrowd_items/filters.py
  borrowd_items/tests/__init__.py
  borrowd_items/tests/test_item_visibility_in_list_view.py
Labels: Items

#51 Borrowing flows MVP: "rejected" flow
  borrowd_items/exceptions.py
  borrowd_items/migrations/0005_item_status_transaction.py
  borrowd_items/models.py
  borrowd_items/urls.py
  borrowd_items/views.py
  templates/components/item_action_buttons.html
  tests/test_borrowing_flows.py
Labels: Borrowing

#53 Fix Navigation Buttons
  templates/components/button_nav.html
  templates/groups/group_confirm_delete.html
  templates/groups/group_detail.html
  templates/groups/group_form.html
  templates/groups/group_list.html
  templates/includes/header.html
  templates/items/item_confirm_delete.html
  templates/items/item_detail.html
  templates/items/item_form.html
  templates/items/item_list.html
  templates/items/itemphoto_confirm_delete.html
  templates/items/itemphoto_form.html
  templates/landing/index.html
Labels: bug, UI

#57 Borrowing flows: MVP UI integration
  borrowd_items/models.py
  borrowd_items/views.py
  templates/base.html
  templates/components/item_action_buttons.html
  templates/components/items/action_buttons.html
  templates/items/item_detail.html
  tests/test_borrowing_flows.py
Labels: UI, Borrowing

#70 Migration: Add "Cancelled" to Transaction statuses.
  borrowd_items/migrations/0006_alter_transaction_status.py
Labels: Borrowing
